# Copy to config.py, if you have better options fill in new values, otherwise just leave config.py as it be

# the model for segmentation (ultralytics)
SEG_MODEL_PATH = 
# the config and weight for key ponit model (MMpose family)
KP_CONFIG_FILE = 
KP_CHECKPOINT_FILE = 
# # The minimum confidence score for a keypoint to pass
KP_THRESHOLD = 

# up to you
DEVICE = 